<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center subcmp_nav" id="app_sub_header_nav" style="margin-top:20px">
            <button type="button" class="btn btn-secondary" subcmp_target='regular_menu' subcmp_parentcmp='images'> Categories/Images</button>
            <button type="button" class="btn btn-light" subcmp_target='add_category' subcmp_parentcmp='images'>Add Category</button>
            <button type="button" class="btn btn-light" subcmp_target='add_menu_images' subcmp_parentcmp='images'>Add Menu Images</button>
            <button type="button" class="btn btn-light" subcmp_target='add_offer_images' subcmp_parentcmp='images'>Add Offer Images</button>
            <button type="button" class="btn btn-light" subcmp_target='add_backgrounds' subcmp_parentcmp='images'>Add Backgrounds</button>
        </div>
    </div>
</div>