/*
    Componenet Common CSS   
*/

/*
    Sub Component Css
*/
.select2{
    margin-top:10px;
    width: 200px !important;
}
.select2-selection {
    border: solid 2px #ccc;
    outline: 0;
    min-height: 40px;
    text-align: left;
}
.select2-selection__rendered {
    margin: 5px;
}
.select2-selection__arrow {
    margin: 5px;
}



/* Regular Menu */


#table_placeholder{
    margin-top:30px;
}
    /* Breakfast Menu */
    .toggle-group .btn{
        border: solid 1px #ccc;
    }
    .toggle-group .btn-primary{
        background-color: #006;
    }
    #breakfast_menu th{
        font-size: 11pt !important;
    }
        #breakfast_menu .img_file_name, #breakfast_menu .img_file_size{
            font-size: 9pt;
            text-align: left;
        }
        #breakfast_menu td{
            position: relative;
        }
        #breakfast_menu .img_file_name{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .td_allergens .algn{
            float: left;
            width: 20%;
            margin: 2px;
            padding:2px 5px;
            text-align: center;
            border-right: solid 1px #ccc;
        }
        .wkst_line div{
            float: left;
            padding: 2px 4px;
            margin-right: 3px;
            margin-top: 3px;
            background-color: #fff;
            width: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .wkst_line{
            width: 100%;
            float: left;
            margin-bottom: 2px;
        }
        .wkst_line .td{
            color: #333;
        }

        .wkst_line .tda{
            background-color: rebeccapurple;
            color: #fff;
        }

        .wkst_line .tdb{
            background-color: olivedrab;
            color: #fff;
        }

        .wkst_line .tdc{
            background-color: royalblue;
            color: #fff;
        }
        .wkst_line .tdd{
            background-color: teal;
            color: #fff;
        }

/* 
        Add Category
*/

#add_category{
    padding: 20px;
}
#addcategory_title{
    padding-bottom: 20px;
}

#add_category .select2{
    width: 100% !important; 
}

.delete_category{
    background-color: red;
    padding: 6px 10px;
    vertical-align: middle;
    border-radius: 4px;
    color: #fff;
    position: relative;
    margin-top: 4px;
    cursor: pointer;
}
.delete_category:hover{
    background-color: darkred;
}
ul#suggest_items{
    list-style: none;
    height: 300px;
    border: solid 1px #eee;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 0 0 0 !important;
}
ul#suggest_items li{
    display: inline-block;
    width: 100%;
    margin: 2px;
}
ul#suggest_items li div{
    float: left;
}
ul#suggest_items li .select_suggest{
    width:80%;
    margin-right:5px;
    padding: 5px;
    padding-left:10px;
    border-radius: 4px;
}
ul#suggest_items li .select_suggest a{
    color:teal !important;
    pointer-events: none;
}
ul#suggest_items li .select_suggest:hover{
    background-color:#eee;
}

/*
    Add Menu Images
*/

#add_menu_images{
    margin-bottom:150px;
}

#addmenuimages_title{
    margin-top:10px;
    margin-bottom:30px;
}

    .tab-pane{
        padding: 10px;
        border: solid 1px #eee;
        border-radius: 5px;
        background-color: #eee;
    }

.station_selection td,.station_selection th{
    padding: 2px;
    margin: 4px;
    text-align: center;
}
    .station_selection div{
        padding: 4px;
        background-color: #eee;
        width: 40px;
        border-radius: 4px;
        transition: all .1s;
    }
    .station_selection td div:hover{
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }
    .station_selection .td1 .selected{
        background-color: rebeccapurple;
        color: #fff;
    }

    .station_selection .td2 .selected{
        background-color: olivedrab;
        color: #fff;
    }

    .station_selection .td3 .selected{
        background-color: royalblue;
        color: #fff;
    }
    .station_selection .td4 .selected{
        background-color: teal;
        color: #fff;
    }
    .station_selection .td5 .selected{
        background-color: #444;
        color: #fff;
    }

    .station_selection .td6 .selected{
        background-color: darkorchid;
        color: #fff;
    }

    .station_selection .td7 .selected{
        background-color: darkgreen;
        color: #fff;
    }

    .station_selection .td8 .selected{
        background-color: darkred;
        color: #fff;
    }
    #editmode_active{
        color: red !important;
    }
   