/*
    Componenet Common CSS   
*/

/*
    Sub Component Css
*/
.select2{
    margin-top:10px;
    width: 200px !important;
}
.select2-selection {
    border: solid 2px #ccc;
    outline: 0;
    min-height: 40px;
    text-align: left;
}
.select2-selection__rendered {
    margin: 5px;
}
.select2-selection__arrow {
    margin: 5px;
}



/* Regular Menu */

#regular_menu_categories{
    margin-top: 10px;
}
#table_placeholder{
    margin-top:30px;
}
    /* Breakfast Menu */
    .toggle-group .btn{
        border: solid 1px #ccc;
    }
    .toggle-group .btn-primary{
        background-color: #006;
    }
    #breakfast_menu th{
        font-size: 11pt !important;
    }
        #breakfast_menu .img_file_name, #breakfast_menu .img_file_size{
            font-size: 9pt;
            text-align: left;
        }
        #breakfast_menu td{
            position: relative;
        }
        #breakfast_menu .img_file_name{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .td_allergens .algn{
            float: left;
            width: 20%;
            margin: 2px;
            padding:2px 5px;
            text-align: center;
            border-right: solid 1px #ccc;
        }
        .wkst_line div{
            float: left;
            padding: 2px 4px;
            margin-right: 3px;
            margin-top: 3px;
            background-color: #fff;
            width: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .wkst_line{
            width: 100%;
            float: left;
            margin-bottom: 2px;
        }
        .wkst_line .td{
            color: #333;
        }

        .wkst_line .tda{
            background-color: rebeccapurple;
            color: #fff;
        }

        .wkst_line .tdb{
            background-color: olivedrab;
            color: #fff;
        }

        .wkst_line .tdc{
            background-color: royalblue;
            color: #fff;
        }
        .wkst_line .tdd{
            background-color: teal;
            color: #fff;
        }

/* 
        Add Category
*/

#add_category{
    padding: 20px;
}
#addcategory_title{
    padding-bottom: 20px;
}

#add_category .select2{
    width: 100% !important; 
}

.delete_category{
    background-color: red;
    padding: 6px 10px;
    vertical-align: middle;
    border-radius: 4px;
    color: #fff;
    position: relative;
    margin-top: 4px;
    cursor: pointer;
}
.delete_category:hover{
    background-color: darkred;
}
ul#suggest_items{
    list-style: none;
    height: 300px;
    border: solid 1px #eee;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 0 0 0 !important;
}
ul#suggest_items li{
    display: inline-block;
    width: 100%;
    margin: 2px;
}
ul#suggest_items li div{
    float: left;
}
ul#suggest_items li .select_suggest{
    width:80%;
    margin-right:5px;
    padding: 5px;
    padding-left:10px;
    border-radius: 4px;
}
ul#suggest_items li .select_suggest a{
    color:teal !important;
    pointer-events: none;
}
ul#suggest_items li .select_suggest:hover{
    background-color:#eee;
}

/*
    Add Menu Images
*/


#add_menu_images{
    margin-bottom:150px;
}

#addmenuimages_title{
    margin-top:10px;
    margin-bottom:30px;
}

    .tab-pane{
        padding: 10px;
        border: solid 1px #eee;
        border-radius: 5px;
        background-color: #eee;
    }

/*
    Additions
*/    
#add_additions{
    padding: 10px;
    border: solid 2px #eee;
    border-radius: 5px;;
}
#addadditions_title{
    margin-top: 20px;;
}

.station_selection td,.station_selection th{
    padding: 2px;
    margin: 4px;
    text-align: center;
}
    .station_selection div{
        padding: 4px;
        background-color: #eee;
        width: 40px;
        border-radius: 4px;
        transition: all .1s;
    }
    .station_selection td div:hover{
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }
    
    .station_selection .td1 .selected, .stcolor_td1{
        background-color: rebeccapurple;
        color: #fff;
    }

    .station_selection .td2 .selected, .stcolor_td2{
        background-color: olivedrab;
        color: #fff;
    }

    .station_selection .td3 .selected, .stcolor_td3{
        background-color: royalblue;
        color: #fff;
    }
    .station_selection .td4 .selected, .stcolor_td4{
        background-color: teal;
        color: #fff;
    }
    .station_selection .td5 .selected, .stcolor_td5{
        background-color: #444;
        color: #fff;
    }

    .station_selection .td6 .selected, .stcolor_td6{
        background-color: darkorchid;
        color: #fff;
    }

    .station_selection .td7 .selected, .stcolor_td7{
        background-color: darkgreen;
        color: #fff;
    }

    .station_selection .td8 .selected, .stcolor_td8{
        background-color: darkred;
        color: #fff;
    }
    #editmode_active{
        color: red !important;
    }
   

    /*
        Add Category
    */
    .additions_class{
        border-bottom: solid 2px #eee;
        border-top: solid 2px #eee;
        padding: 10px 0px;
    }
    .additions_class .btn-success{
        display: none;
    }
    
    .additions_class input, .additions_class .squaredThree label{
        background-color: #eee;
        pointer-events: none;
    }

    .addition_editable{
        background-color: #fee;
    }
    .addition_editable input, .addition_editable .squaredThree label{
        background-color: #fff;
        pointer-events: auto;
    }
    .addition_editable .btn-success{
        display: inline-block;
    }
    .addition_editable .btn-warning{
        display: none;
    }

    /* .squaredThree */
 .squaredThree {
     position: relative;
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}
.squaredThree label {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#fff;
    border-radius: 4px;
    border:solid 2px #ccc;
}
.squaredThree label:after {
    content: "";
    width: 12px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 6px;
    border: 3px solid #000;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}
.squaredThree label:hover::after {
    opacity: 0.3;
}
.squaredThree input[type="checkbox"] {
    visibility: hidden;
}
.squaredThree>input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
input[type=checkbox] {
    box-sizing: border-box;
}

.addrow_price input,.addrow_price label{
    display: inline-block;
}
.addrow_price input{
    width: 90px;
}