/*
    Componenet Common CSS   
*/

/*
    Sub Component Css
*/
.select2{
    margin-top:10px;
    width: 200px !important;
}
.select2-selection {
    border: solid 2px #ccc;
    outline: 0;
    min-height: 40px;
    text-align: left;
}
.select2-selection__rendered {
    margin: 5px;
}
.select2-selection__arrow {
    margin: 5px;
}



/* Regular Menu */


#table_placeholder{
    margin-top:30px;
}
    /* Breakfast Menu */
    .toggle-group .btn{
        border: solid 1px #ccc;
    }
    .toggle-group .btn-primary{
        background-color: #006;
    }
    #breakfast_menu th{
        font-size: 11pt !important;
    }
        #breakfast_menu .img_file_name, #breakfast_menu .img_file_size{
            font-size: 9pt;
            text-align: left;
        }
        #breakfast_menu td{
            position: relative;
        }
        #breakfast_menu .img_file_name{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .td_allergens .algn{
            float: left;
            width: 20%;
            margin: 2px;
            padding:2px 5px;
            text-align: center;
            border-right: solid 1px #ccc;
        }
        .wkst_line div{
            float: left;
            padding: 2px 4px;
            margin-right: 3px;
            margin-top: 3px;
            background-color: #fff;
            width: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .wkst_line{
            width: 100%;
            float: left;
            margin-bottom: 2px;
        }
        .wkst_line .td{
            color: #333;
        }

        .wkst_line .tda{
            background-color: rebeccapurple;
            color: #fff;
        }

        .wkst_line .tdb{
            background-color: olivedrab;
            color: #fff;
        }

        .wkst_line .tdc{
            background-color: royalblue;
            color: #fff;
        }
        .wkst_line .tdd{
            background-color: teal;
            color: #fff;
        }

/* 
        Add Category
*/

#add_category{
    padding: 20px;
}
#addcategory_title{
    padding-bottom: 20px;
}

#add_category .select2{
    width: 100% !important;
}