<!-- Create Menu-->
<div class="container" style="border: none; padding-top: 20px;">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12 text-left appbody_nav">
        <button type="button" class="btn btn-primary">List</button>
        <button type="button" class="btn btn-light" subcmp_target='create_offer' subcmp_parentcmp="create_offer" >Daily Offer 1</button>
        <button type="button" class="btn btn-light" subcmp_target='create_offer' subcmp_parentcmp="create_offer" >Daily Offer 2</button>
        <button type="button" class="btn btn-light" subcmp_target='create_offer' subcmp_parentcmp="create_offer" >Daily Offer 3</button>
        <button type="button" class="btn btn-light" subcmp_target='create_offer' subcmp_parentcmp="create_offer" >Daily Offer 4</button>
        <button type="button" class="btn btn-light" subcmp_target='create_offer' subcmp_parentcmp="create_offer" >Daily Offer 5</button>
      </div> 
    </div>
  </div>  
</div>


<div id="list_offers">
<!-- List Offers-->

<!-- Collapse Module Add Images -->
<div class="collapse" id="create-add-images">  
</div>
<!-- / Collapse -->

<div class="container" id="create_button_row">
  <div class="row">
    <div class="col-sm-12 text-left" id="menu_add_row">
      <button type="button" id=""   class="btn btn-secondary">
        Create
      </button>

      <button type="button" id="btn_addtorow_additions" class="btn btn-light" >
        Edit
      </button>

      <button type="button" id="btn_addtorow_image" class="btn btn-light" data-toggle="collapse" data-target="#create-add-images" aria-expanded="false" aria-controls="menu-add-collapse">
        Image Offer
      </button>
    </div>
  </div>
</div>



<div class="container" id="list_filldata">
  <div class="row">
    <ul class="col-sm-4 text-left list-group" id="list_filldata_titles">
      <li class="list-group-item">Daily Offer 1 [The Grand Treat]</li>
      <li class="list-group-item">Daily Offer 2 [Buy 1 Get 1 Free]</li>
      <li class="list-group-item">Daily Offer 3 [Burger n Pizza]</li>
      <li class="list-group-item">Daily Offer 4 [Alternate Name]</li>
      <li class="list-group-item">Daily Offer 5 [Alternate Name]</li>
    </ul>


    <div class="col-sm-5 text-left" id="create_filldata_data">
      <div class="row">
        <h4 class="col-sm-7">
          <h3 class="text-right">£ 5.50</h3>
        </h4>
        <div class="col-sm-5"></div>
      </div>

      <div class="row">
        <h4 class="col-sm-1">1</h4>
        <h4 class="col-sm-1">X</h4>
        <h4 class="col-sm-6">Garlic Bread</h4>
        <div class="col-sm-4"></div>
      </div>
      <div class="row">
        <h4 class="col-sm-1">1</h4>
        <h4 class="col-sm-1">X</h4>
        <h4 class="col-sm-6">Pizza</h4>
        <div class="col-sm-4"></div>
      </div>
      <div class="row">
        <h4 class="col-sm-1">2</h4>
        <h4 class="col-sm-1">X</h4>
        <h4 class="col-sm-6">Large Fries</h4>
        <div class="col-sm-4"></div>
      </div>
      <div class="row">
        <h4 class="col-sm-1">2</h4>
        <h4 class="col-sm-1">X</h4>
        <h4 class="col-sm-6">Chicken Wings</h4>
        <div class="col-sm-4"></div>
      </div>
    </div>

    
    <div class="col-sm-auto text-left" id="create_filldata_image">
        <div class="filldata_image_container text-center">
            <img class="filldata_image_image img-fluid" src="assets/img/no-image.jpg"/>
          </div>
        <div class="text-center">
          <button class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>



 <!-- Modal Additions-->
 <div class="modal fade" id="modal_additions_content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Select Additions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row" style="widows: 800px;">
        <div id="modal_additions">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- / List Offers-->
</div>