<div class="container-fluid" id="create_offer">
    <div class="row">
        <div class="col-sm-12 text-center subcmp_nav" style="margin-top:20px">
            <button type="button" class="btn btn-secondary" subcmp_target='list_offers' subcmp_parentcmp="active_offers"> Daily Offer</button>
            <button type="button" class="btn btn-light" subcmp_target='list_offers' subcmp_parentcmp="active_offers">Just 4 Today</button>
            <button type="button" class="btn btn-light" subcmp_target='list_offers' subcmp_parentcmp="active_offers">3 hr Offers</button>
        </div>
    </div>
</div> 