<div class="container-fluid" id="create_offer">
    <div class="row">
        <div class="col-sm-12 text-center subcmp_nav bordered_nav" style="margin-top:20px">
            <button type="button" class="btn btn-secondary" subcmp_target='list_offers' subcmp_parentcmp="active_offers"> Daily Offer</button>
            <button type="button" class="btn btn-light" subcmp_target='list_offers' subcmp_parentcmp="active_offers">Just 4 Today</button>
            <button type="button" class="btn btn-light" subcmp_target='list_offers' subcmp_parentcmp="active_offers">3 hr Offers</button>
        </div>
    </div>
</div> 

<div class="container" style="border: none; padding-top: 20px;">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-12 text-left appbody_nav">
          <button type="button" class="btn btn-primary" subcmp_target='list_offers' subcmp_parentcmp="active_offers">List</button>
          <button type="button" class="btn btn-light" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 1</button>
          <button type="button" class="btn btn-light" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 2</button>
          <button type="button" class="btn btn-light" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 3</button>
          <button type="button" class="btn btn-light" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 4</button>
          <button type="button" class="btn btn-light" subcmp_target='activate_offer' subcmp_parentcmp="active_offers" >Daily Offer 5</button>
        </div> 
      </div> 
    </div>  
  </div>