<div id="regularmenu_regmenu">
<!-- Reg Menu-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12 text-center subcmp_nav">
        <button type="button" class="btn btn-primary daymenu_subcat"  >DayMenu Sub Cat1</button>
        <button type="button" class="btn btn-light daymenu_subcat"  >DayMenu Sub Cat2</button>
        <button type="button" class="btn btn-light daymenu_subcat"  >DayMenu Sub Cat3</button>
        <button type="button" class="btn btn-light daymenu_subcat"  >DayMenu Sub Cat4</button>
        <button type="button" class="btn btn-light daymenu_subcat"  >DayMenu Sub Cat5</button>
      </div> 
    </div>
  </div>  
</div>

<div class="container-fluid" id="regmenu_addtotable_container">
  <div class="row">
    <div class="col-sm-12">
      <!-- Module Placeholder -->
      <!-- *** loaded from breakfast_menu -->
      <div id="addtotable_placeholder">

      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
        <!-- Module Placeholder -->
        <!-- *** loaded from breakfast_menu -->
        <div id="results_table_placeholder">

        </div>
      </div>
  </div>
</div>
<!-- / Reg Menu-->
</div>