<div class="container-fluid" id="regular_menu">
    <div class="row">
        <div class="col-sm-12 text-center " id="regularmenu_primaryselection" style="margin-top:20px">
            <button type="button" class="btn btn-secondary" regmenu_subcat_class='breakfast_subcat'> Breakfast</button>
            <button type="button" class="btn btn-light" regmenu_subcat_class='daymenu_subcat'>Day Menu</button>
        </div>
        <div class="col-sm-12 text-center" id="regularmenu_secondaryselection">
              <button type="button" class="btn btn-primary breakfast_subcat">Breakfast Sub Cat1</button>
              <button type="button" class="btn btn-light breakfast_subcat"  >Breakfast Sub Cat2</button>
              <button type="button" class="btn btn-light breakfast_subcat"  >Breakfast Sub Cat3</button>
              <button type="button" class="btn btn-light breakfast_subcat"  >Breakfast Sub Cat4</button>
              <button type="button" class="btn btn-light daymenu_subcat"  >DayMenu Sub Cat1</button>
              <button type="button" class="btn btn-light daymenu_subcat"  >DayMenu Sub Cat2</button>
              <button type="button" class="btn btn-light daymenu_subcat"  >DayMenu Sub Cat3</button>
              <button type="button" class="btn btn-light daymenu_subcat"  >DayMenu Sub Cat4</button>
              <button type="button" class="btn btn-light daymenu_subcat"  >DayMenu Sub Cat5</button>
          </div> 
    </div>
</div>