<div class="container-fluid" id="regular_menu">
    <div class="row">
        <div class="col-sm-12 text-center" id="regularmenu_primaryselection" style="margin-top:20px">
            <button type="button" class="btn btn-secondary" subcmp_target='breakfast_menu' subcmp_parentcmp="regular_menu"> Breakfast</button>
            <button type="button" class="btn btn-light" subcmp_target='day_menu' subcmp_parentcmp="regular_menu">Day Menu</button>
            <button type="button" class="btn btn-light" subcmp_target='additions' subcmp_parentcmp="regular_menu">Options</button>
        </div>
    </div>
</div>