<div class="container-fluid" id="images_categoriesimages">
  <div class="row">
      <div class="col-sm-12">
        <div class="btn-group btn-group-select appbody_nav" role="group" aria-label="Menu Selection" id="categoriesimages_menu_selection">
          <button type="button" class="btn btn-primary" subcmp_target='regular_menu' subcmp_parentcmp='images'>Regular Menu</button>
          <button type="button" class="btn btn-light" subcmp_target='offer_menu' subcmp_parentcmp='images'>Offer Menu</button>
        </div>
      </div>
      <div class="col-sm-12">
        <div id="regular_menu_categories">
            <select class="general_select2">
              <option value="breakfast">Breakfast Menu</option>
              <option value="lunch">Day Menu</option>
            </select>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="col-sm-12">
        <!-- Module Placeholder -->
        <div id="table_placeholder">

        </div>
      </div>
  </div>
</div>