<div id="list_offers">
  <!-- List Offers-->
  
  <div class="container" id="list_filldata">
    <div class="row">
      <ul class="col-sm-4 text-left list-group" id="list_filldata_titles">
        <li class="list-group-item selected">Daily Offer 1 [The Grand Treat]</li>
        <li class="list-group-item">Daily Offer 2 [Buy 1 Get 1 Free]</li>
        <li class="list-group-item">Daily Offer 3 [Burger n Pizza]</li>
        <li class="list-group-item">Daily Offer 4 [Alternate Name]</li>
        <li class="list-group-item">Daily Offer 5 [Alternate Name]</li>
      </ul>
  
  
      <div class="col-sm-5 text-left" id="create_filldata_data">
        <div class="row" style="padding-bottom:20px"> 
          <h4 class="col-sm-8">Daily Offer 1<br><span style="font-size: 80%; color:#444;">The Grand Treat </span></h4>
          <div class="col-sm-4"><h3 class="text-right">£ 5.50</h3></div> 
        </div>
  
        <div class="row">
          <h4 class="col-sm-1">1</h4>
          <h4 class="col-sm-1">X</h4>
          <h4 class="col-sm-6">Garlic Bread</h4>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <h4 class="col-sm-1">1</h4>
          <h4 class="col-sm-1">X</h4>
          <h4 class="col-sm-6">Pizza</h4>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <h4 class="col-sm-1">2</h4>
          <h4 class="col-sm-1">X</h4>
          <h4 class="col-sm-6">Large Fries</h4>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <h4 class="col-sm-1">2</h4>
          <h4 class="col-sm-1">X</h4>
          <h4 class="col-sm-6">Chicken Wings</h4>
          <div class="col-sm-4"></div>
        </div>
      </div>
  
      
      <div class="col-sm-auto text-left" id="create_filldata_image">
          <div class="filldata_image_container text-center">
              <img class="filldata_image_image img-fluid" src="assets/img/no-image.jpg"/>
            </div>
      </div>
    </div>
  </div>
  
  <!-- / List Offers-->
  </div>