<div class="container" id="add_menu_images">
  <h4 id="addmenuimages_title">Offer Images <span id="editmode_active"> [Edit] </span></h4>
  <div class="row">
      <div class="col-sm-6">
        <div class="form-group row">
          <label for="reg-menu-category" class="col-sm-3">Offer</label>
          <div class="col-sm-9">
            <select class="form-control" id="offer-menu-category">
              <option>Daily Offer</option>
              <option>Just 4 Today</option>
              <option>3Hr Offer</option>
            </select>
          </div>
        </div>
      
      <!-- Tabs Start here-->  
      <p>Upload images for:</p>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Mobile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Tablet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Desktop</a>
        </li>
      </ul><!-- Tab panes -->
      
      <div class="tab-content">
        <div class="tab-pane active" id="tabs-1" role="tabpanel">
          <div class="form-group row">
            <label for="file-name" class="col-sm-3">File Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="file-name" placeholder="File Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="sub-category" class="col-sm-3">File Upload</label>
            <div class="col-sm-9">
              <div id="file-upload-form" class="form group uploader">
                <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
  
                <label for="file-upload" id="file-drag">
                  <img id="file-image" src="#" alt="Preview" class="hidden">
                  <div id="start">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <div>Select a file or drag here</div>
                    <div id="notimage" class="hidden">Please select an image</div>
                    <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                  </div>
                  <div id="response" class="hidden">
                    <div id="messages"></div>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="image-id" class="col-sm-3">Image Id</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="image-id" placeholder="Image Id" value="SonyCam-12232.jpg" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="file-size" class="col-sm-3">File Size</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="file-size" placeholder="File Size" value="0.0 Mb" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="file-description" class="col-sm-3">File Upload Date</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="file-description" placeholder="File Description" disabled value="12/11/2020">
            </div>
          </div>
          <div class="form-group row">
            <label for="alt-tag" class="col-sm-3">Alt Tag</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="alt-tag" placeholder="Alt Tag">
            </div>
          </div>
          
          <div class="form-group row">
            <label for="file-description" class="col-sm-3">File Desc.</label>
            <div class="col-sm-9">
              <textarea type="text" class="form-control" style="resize:none; overflow:hidden" height="30" id="file-description" placeholder="File Description"></textarea>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tabs-2" role="tabpanel">
          <p>Second Panel</p>
        </div>
        <div class="tab-pane" id="tabs-3" role="tabpanel">
          <p>Third Panel</p>
        </div>
      </div>

      </div><!-- / Col sm 6-->
      <div class="col-sm-6">
        <div class="form-group row">
          <label for="ingredients" class="col-sm-3">Ingredients</label>
          <div class="col-sm-9">
            <textarea type="text" class="form-control" style="resize:none; overflow:hidden" height="30" id="file-description" maxlength="250" placeholder="Max. 250 characters"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="allergens" class="col-sm-3">Allergens</label>
          <div class="col-sm-9">
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="1" class="custom-control-input">
              <label class="custom-control-label" for="1">1</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="2" class="custom-control-input">
              <label class="custom-control-label" for="2">2</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="3" class="custom-control-input">
              <label class="custom-control-label" for="3">3</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="4" class="custom-control-input">
              <label class="custom-control-label" for="4">4</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="5" class="custom-control-input">
              <label class="custom-control-label" for="5">5</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="6" class="custom-control-input">
              <label class="custom-control-label" for="6">6</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="7" class="custom-control-input">
              <label class="custom-control-label" for="7">7</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="8" class="custom-control-input">
              <label class="custom-control-label" for="8">8</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="9" class="custom-control-input">
              <label class="custom-control-label" for="9">9</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="10" class="custom-control-input">
              <label class="custom-control-label" for="10">10</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="11" class="custom-control-input">
              <label class="custom-control-label" for="11">11</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="12" class="custom-control-input">
              <label class="custom-control-label" for="12">12</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="13" class="custom-control-input">
              <label class="custom-control-label" for="13">13</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="14" class="custom-control-input">
              <label class="custom-control-label" for="14">14</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="15" class="custom-control-input">
              <label class="custom-control-label" for="15">15</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" id="16" class="custom-control-input">
              <label class="custom-control-label" for="16">16</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="calories" class="col-sm-3">Calories</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="calories" placeholder="Calories">
          </div>
        </div>
        <div class="form-group row">
          <label for="calories" class="col-sm-3">Make Time</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="calories" placeholder="Make Time">
          </div>
        </div>
        <div class="form-group row">
          <label for="calories" class="col-sm-3">Make Stations</label>
          <div class="col-sm-9">
            <table class="station_selection">
                <thead>
                  <tr>
                    <th>Station</th>
                    <th colspan="5">Sub Stations</th>
                  </tr>
              </thead>
              <tboady>
                  <tr class="td1">
                    <th><div class="cell-select-btn td1">1</div></th>
                    <td><div class="cell-select-btn">a</div></td>
                    <td><div class="cell-select-btn">b</div></td>
                    <td><div class="cell-select-btn">c</div></td>
                    <td><div class="cell-select-btn">d</div></td>
                    <td><div class="cell-select-btn">e</div></td>
                    <td><div class="cell-select-btn">f</div></td>
                  </tr>

                  <tr class="td2">
                    <th><div class="cell-select-btn td2">2</div></th>
                    <td><div class="cell-select-btn">a</div></td>
                    <td><div class="cell-select-btn">b</div></td>
                    <td><div class="cell-select-btn">c</div></td>
                    <td><div class="cell-select-btn">d</div></td>
                    <td><div class="cell-select-btn">e</div></td>
                    <td><div class="cell-select-btn">f</div></td>
                  </tr>

                  <tr class="td3">
                    <th><div class="cell-select-btn td3">3</div></th>
                    <td><div class="cell-select-btn">a</div></td>
                    <td><div class="cell-select-btn">b</div></td>
                    <td><div class="cell-select-btn">c</div></td>
                    <td><div class="cell-select-btn">d</div></td>
                    <td><div class="cell-select-btn">e</div></td>
                    <td><div class="cell-select-btn">f</div></td>
                  </tr>

                  <tr class="td4">
                    <th><div class="cell-select-btn">4</div></th>
                    <td><div class="cell-select-btn">a</div></td>
                    <td><div class="cell-select-btn">b</div></td>
                    <td><div class="cell-select-btn">c</div></td>
                    <td><div class="cell-select-btn">d</div></td>
                    <td><div class="cell-select-btn">e</div></td>
                    <td><div class="cell-select-btn">f</div></td>
                  </tr>

                  <tr class="td5">
                    <th><div class="cell-select-btn">5</div></th>
                    <td><div class="cell-select-btn">a</div></td>
                    <td><div class="cell-select-btn">b</div></td>
                    <td><div class="cell-select-btn">c</div></td>
                    <td><div class="cell-select-btn">d</div></td>
                    <td><div class="cell-select-btn">e</div></td>
                    <td><div class="cell-select-btn">f</div></td>
                  </tr>

                  <tr class="td6">
                    <th><div class="cell-select-btn">6</div></th>
                    <td><div class="cell-select-btn">a</div></td>
                    <td><div class="cell-select-btn">b</div></td>
                    <td><div class="cell-select-btn">c</div></td>
                    <td><div class="cell-select-btn">d</div></td>
                    <td><div class="cell-select-btn">e</div></td>
                    <td><div class="cell-select-btn">f</div></td>
                  </tr>

                  <tr class="td7">
                    <th><div class="cell-select-btn">7</div></th>
                    <td><div class="cell-select-btn">a</div></td>
                    <td><div class="cell-select-btn">b</div></td>
                    <td><div class="cell-select-btn">c</div></td>
                    <td><div class="cell-select-btn">d</div></td>
                    <td><div class="cell-select-btn">e</div></td>
                    <td><div class="cell-select-btn">f</div></td>
                  </tr>

                  <tr class="td8">
                    <th><div class="cell-select-btn">8</div></th>
                    <td><div class="cell-select-btn">a</div></td>
                    <td><div class="cell-select-btn">b</div></td>
                    <td><div class="cell-select-btn">c</div></td>
                    <td><div class="cell-select-btn">d</div></td>
                    <td><div class="cell-select-btn">e</div></td>
                    <td><div class="cell-select-btn">f</div></td>
                  </tr>
              </tboady>
            </table>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4 text-right">
      <button type="submit" class="btn btn-warning">Clear</button>
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </div>
</div>